@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Groups</h1>

<div>
    <ul class="list-group">
        Front-End (MVC):
        <li class="list-group-item">Christoph, Maximilian E., Maximilian Rac., David</li>
        WPF:
        <li class="list-group-item">Anja, Laura, Tina</li>
        XML:
        <li class="list-group-item">Maximilian K., Jakob, Leon, Ricardo</li>
        Database:
        <li class="list-group-item">Philipp P., Tobi, Maximilian Ru.</li>
        Webservice (REST):
        <li class="list-group-item">mario, philip g., niklas</li>
    </ul>
</div>