@model PasswordManager.Web.Models.PandelModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("EditSubmit", "HomeController", FormMethod.Post)){

    @Html.HiddenFor(a => a.Key);
    @Html.EditorFor(a => a.Email);
    @Html.EditorFor(a => a.Password);

}