@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>4DHK Passwort Manager</h1>
</div>

<div>
    <form>
        <label for="fname">E-Mail:</label><br>
        <input type="text" id="email" name="email" value="max.mustermann@muster.com"><br>
        <label for="lname">Passwort:</label><br>
        <input type="password" id="passwort" name="passwort" minlength="8">
    </form>
</div>