@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>4DHK Passwort Manager Login</h1>
</div>

<a href="https://auth.chrisimi.dev/home/authenticate?clientID=d98e6e62-5e8f-4def-9fcc-8b0bde8d5724">Login</a>