@Model 
@{
    ViewBag.Title = "Pandel";
}

<h2>Pandel</h2>


<table class="table">
    <!--The Head of the Table-->
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
    </thead>

    <!--The Content of the Table-->
    <!--
    <tbody>
        <tr>
            <th>Get the ID</th>
            <th>The Username</th>
            <th>the Password</th>
            <th><button>Edit</button></th>
            <th><button>Delete</button></th>
        </tr>
    </tbody>
    -->
</table>